body {
	margin: 0;
	background-color: #FFFFFF;
	font-family: "ff-meta-web-pro",sans-serif;
}

#container {
	
}


/* dashboard and menu css */
#dashboard {
	display: inline-block;
	position: fixed;
	float: left;
	width: 25%;
	height: 100vh;
	background-color: #09894B;

	border-right: solid;
	border-width: 0 40px 0 0;
	
	border-color: #4C4C4C;

	border-image:
		linear-gradient(to right, #4C4C4C, #727373) 1 100%;
	
}

#logoContainer {
	display: block;
	width: 80%;
	margin: auto;
	margin: 5% auto 15% auto;
}

#logo {
	max-width: 100%;
	max-height: 100%;
}

.dashMenu {
	display: block;
	height: 22vh;
	width: 80%;
	margin-left: 15%;
	line-height: 100%;
}

.dashImg {
	display: inline-block;
	width: 28%;
	vertical-align: middle;
}

.menuText {
	display: inline-block;
	width: 60%;
	margin-left: 7%;
	font-size: 32px;
	vertical-align: middle;
}

.menuItem {
	display: block;
	max-width: 100%;
	max-height: 100%;
}
/* --- end Dashboard css --- */

/*general block styling for each section */
.contentBlock {
	display: inline-block;
	float: right;
	width: 65%;
	height: 90vh;
	margin: 3% 3% 0 0;
	border-radius: 5px;
	background-color: #F9EEE1;	
}

/* --- end general block styling --- */

/* INTRO block Styling */
#introLeft {
	display: inline-block;
	width: 50%;
	height: 90%;
	margin: 5% 0;
}

#introRight {
	display: inline-block;
	float: right;
	width: 50%;
	font-size: 19px;
	line-height: 1.4em;
}

#introRight p {
	margin: 25% 3% 5% 0;
}

#intro h1 {
	display: block;
	width: 40%;
	height: 4%;
	margin: auto;
	background-color: #4C4C4C;
}

#trevPic {
	display: block;
	max-width: 100%;
	max-height: 100%;
	height: 70%;
	margin: 8% auto;
	border: solid;
	border-color: #4C4C4C;
	border-width: 2px;
}
/* End INTRO block Styling */

/* CONTACT block Styling */

#contact {
	background-color: #727373;
	height: 60vh;
}

#contactLeft {
	display: inline-block;
	width: 55%;
}

#contactLeft p {
	display: block;
	margin: auto;
	padding: 0 8%;
	font-size: 18px;
	line-height: 1.4em;
}

#contact h2 {
	text-align: center;
	font-size: 35px;
	color: #F9EEE1;
}

#socials {
	display: inline-block;
	width: 45%;
	height: 90%;
	float: right;
	padding: 5% 0;
}

.social {
	display: block;
	width: 100%;
	height: 15%;
	margin-bottom: 3%;
}

.social a {
	text-decoration: none;
	color: BLACK;
}

.social span {
	padding-left: 10px;
	font-size: 17px;
	line-height: 200%;
}

.contactIcon {
	display: inline-block;
	vertical-align: middle;
	max-height: 75%;
	max-width: 100%;

}


/* END CONTACT block Styling */

#about {
	background-color: #727373;
}



/* Footer css */
footer {
	display: inline-block;
	float: right;
	width: 68%;

}

footer span {
	display: inline-block;
	width: 100%;
	height: 10vh;
	vertical-align: bottom;
}

footer p {
	display: inline-block;
	padding-left: 4%;
	margin-bottom: 0;
	vertical-align: bottom;
}
